/* Global styles
BODY
	font: 15px/23px Arial, Helvetica, sans-serif
INPUT, TEXTAREA
	outline: none
A
	color: $m-color
	+transition(all ease 0.3s)
	&:hover
		color: $m-color-l
P
	margin-bottom: 25px
	+fz(16px,24px)


/* Header
HEADER
	position: relative
	height: 90px
.header__logo, .header__nav, .header__phone, .header__search
	position: absolute
.header__logo
	top: 15px
	left: 0
	+oz
.header__logo__img
	display: block

/* Footer
FOOTER

/* Layout
.g-page
	min-width: 1024px
	background: #FFF
.g-content
.g-content__i
	padding-bottom: 15px
