%meta{ charset: "utf-8" }
%meta{ name: "viewport", data: "initial-scale=1.0" }
%meta{ name: "apple-mobile-web-app-capable", data: "yes" }
%meta{ name: "apple-mobile-web-app-status-bar-style", data: "black" }
