---
title:  Cтраницы
layout:  main
classes: index
---

%ol.pages-list{:style => 'font-size:16px;line-height:26px;'}
	%li
		%a{href: 'framework.html'}
			FRAMEWORK
	%li
		%a{href: 'index.html'}
			Главная страница
